{% load static %}
    <header>
        <hr>
        <h1>sh<i>o</i>p</h1>
        <hr>
    </header>
    <!--=================================product carousel======================================= --> 

    <div class="topsellers">
        <div class="title">
            <p>new <br>
                <i>products</i>.
            </p>
        </div>

        <div class="product-display">
            <div class="slide">
                <span>
                    <img src="{% static 'ecom/img/Bags/matlike.jpeg' %}'" alt="">
                    <p>bags</p>
                </span>
                <span>
                    <img src="{% static 'ecom/img/Shoes/adidas4.jpg' %}" alt="">
                    <p>shoes</p>
                </span>
                <span>
                    <img src="{% static 'ecom/img/Watch/madmax4.jpg' %}" alt="">
                    <p>watches</p>
                </span>
            </div>
        </div>
    </div>
    <!--=================================product carousel end======================================= --> 
<!-- -------------------------------------------------------------------------------------------------------------------------------------- -->


