{% extends 'ecom/base.html' %}

{% block title%}Home Page{% endblock title %}

{% block body%}
    <h1>Student Registration</h1>
        
    <form style="margin-top:100px;" action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {% for f  in form  %}
        <div>
            {{f}}
            {% for msg in f.errors  %}
                <p>{{msg}} </p>
            {% endfor %}         </div>

        {% endfor %}    {% endcomment %}
        {{form.as_p}}
        <input type="submit"> 
    </form>
{% endblock body %}